#nutrition_container
  =nutrition.nutrition_table

.fatsecret_footer
  =link_to image_tag('http://platform.fatsecret.com/js/static/images/powered_fs.gif'), nutrition.serving_url, :title => 'Powered by FatSecret', :target => '_blank'