%h1 Welcome to RecipeTrees.com
%p You are receiving this email because you have just registered on #{link_to 'RecipeTrees.com', root_url}
%p You are now able to #{link_to 'Add', new_recipe_url} and #{link_to 'Fork', about_page_url} recipes.
%p You will also be able to follow other recipe contributors.
%p We hope you enjoy using RecipeTrees.com. Please feel free to #{link_to 'contact', contact_page_url} us if you can be of any assistance.
%p Yours, the RecipeTree team.