.recipe_highlight
  =link_to image_tag(recipe.image.url), recipe_path(recipe)
  .title= link_to h(recipe.name), recipe_path(recipe)
  .description
    %span= truncate(h(recipe.description), :length => 50)