.grid_16
  #login-container
    #login
      %h1 Connect with Facebook
      %p
        =link_to image_tag('facebook_connect.png'), url_for_oauth
      %h2 Why Connect with Facebook?
      %p We don't want you to have to remember yet another set of username and password to access RecipeTrees.com.
      %p Connecting with Facebook makes it easier to:
      %ul
        %li Share your recipes with your Facebook friends
        %li Talk about Recipes and Ingredients using Facebook
        %li Much more....


