.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 1088px; }

.container_16 .grid_1 {
  width: 60px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }
.container_16 .prefix_1 {
  padding-left: 68px; }
.container_16 .suffix_1 {
  padding-right: 68px; }
.container_16 .push_1 {
  left: 68px; }
.container_16 .pull_1 {
  left: -68px; }

.container_16 .grid_2 {
  width: 128px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }
.container_16 .prefix_2 {
  padding-left: 136px; }
.container_16 .suffix_2 {
  padding-right: 136px; }
.container_16 .push_2 {
  left: 136px; }
.container_16 .pull_2 {
  left: -136px; }

.container_16 .grid_3 {
  width: 196px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }
.container_16 .prefix_3 {
  padding-left: 204px; }
.container_16 .suffix_3 {
  padding-right: 204px; }
.container_16 .push_3 {
  left: 204px; }
.container_16 .pull_3 {
  left: -204px; }

.container_16 .grid_4 {
  width: 264px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }
.container_16 .prefix_4 {
  padding-left: 272px; }
.container_16 .suffix_4 {
  padding-right: 272px; }
.container_16 .push_4 {
  left: 272px; }
.container_16 .pull_4 {
  left: -272px; }

.container_16 .grid_5 {
  width: 332px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }
.container_16 .prefix_5 {
  padding-left: 340px; }
.container_16 .suffix_5 {
  padding-right: 340px; }
.container_16 .push_5 {
  left: 340px; }
.container_16 .pull_5 {
  left: -340px; }

.container_16 .grid_6 {
  width: 400px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }
.container_16 .prefix_6 {
  padding-left: 408px; }
.container_16 .suffix_6 {
  padding-right: 408px; }
.container_16 .push_6 {
  left: 408px; }
.container_16 .pull_6 {
  left: -408px; }

.container_16 .grid_7 {
  width: 468px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }
.container_16 .prefix_7 {
  padding-left: 476px; }
.container_16 .suffix_7 {
  padding-right: 476px; }
.container_16 .push_7 {
  left: 476px; }
.container_16 .pull_7 {
  left: -476px; }

.container_16 .grid_8 {
  width: 536px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }
.container_16 .prefix_8 {
  padding-left: 544px; }
.container_16 .suffix_8 {
  padding-right: 544px; }
.container_16 .push_8 {
  left: 544px; }
.container_16 .pull_8 {
  left: -544px; }

.container_16 .grid_9 {
  width: 604px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }
.container_16 .prefix_9 {
  padding-left: 612px; }
.container_16 .suffix_9 {
  padding-right: 612px; }
.container_16 .push_9 {
  left: 612px; }
.container_16 .pull_9 {
  left: -612px; }

.container_16 .grid_10 {
  width: 672px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }
.container_16 .prefix_10 {
  padding-left: 680px; }
.container_16 .suffix_10 {
  padding-right: 680px; }
.container_16 .push_10 {
  left: 680px; }
.container_16 .pull_10 {
  left: -680px; }

.container_16 .grid_11 {
  width: 740px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }
.container_16 .prefix_11 {
  padding-left: 748px; }
.container_16 .suffix_11 {
  padding-right: 748px; }
.container_16 .push_11 {
  left: 748px; }
.container_16 .pull_11 {
  left: -748px; }

.container_16 .grid_12 {
  width: 808px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }
.container_16 .prefix_12 {
  padding-left: 816px; }
.container_16 .suffix_12 {
  padding-right: 816px; }
.container_16 .push_12 {
  left: 816px; }
.container_16 .pull_12 {
  left: -816px; }

.container_16 .grid_13 {
  width: 876px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }
.container_16 .prefix_13 {
  padding-left: 884px; }
.container_16 .suffix_13 {
  padding-right: 884px; }
.container_16 .push_13 {
  left: 884px; }
.container_16 .pull_13 {
  left: -884px; }

.container_16 .grid_14 {
  width: 944px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }
.container_16 .prefix_14 {
  padding-left: 952px; }
.container_16 .suffix_14 {
  padding-right: 952px; }
.container_16 .push_14 {
  left: 952px; }
.container_16 .pull_14 {
  left: -952px; }

.container_16 .grid_15 {
  width: 1012px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }
.container_16 .prefix_15 {
  padding-left: 1020px; }
.container_16 .suffix_15 {
  padding-right: 1020px; }
.container_16 .push_15 {
  left: 1020px; }
.container_16 .pull_15 {
  left: -1020px; }

.container_16 .grid_16 {
  width: 1080px;
  float: left;
  display: inline;
  margin-left: 4px;
  margin-right: 4px; }

.container_16 .alpha {
  margin-left: 0; }

.container_16 .omega {
  margin-right: 0; }

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }
