.container_16.clearfix
  .ui-widget.grid_16.notice
    %div{:class => 'ui-state-error ui-corner-all'}
      %p{:style => 'margin-bottom: 0; padding: 10px'}
        %span{:class => 'ui-icon ui-icon-alert', :style => 'float: left; margin-right: .3em;'}
        = message
