#copyrights
  .grid_16
    %h1 Copyright
    %p All recipes, recipe images and ingredient images are licensed under a #{link_to 'Creative Commons Attribution-NonCommercial 3.0 Unported License', 'http://creativecommons.org/licenses/by-nc/3.0/', :rel => 'license'} unless otherwise specified by the recipe author.
    %h2 Copyright Infringement
    %p Please #{link_to 'contact', contact_page_path} us if any material on this website infringes on your copyright, stating the URL on which the infringing material can be found along with your full contact details.
