%p Specify how long it takes to complete this stage using the following format:
%p
  h:m:s<br />
  60 minutes = 60m<br />
  3 hours = 3h<br />
  1 hour and 30 minutes = 1h:30m<br />
%p Adding a number only assumes minutes
%p The total recipe time is calculated by adding up the time required for all steps.