%p Watching a recipe adds it to your watching tab in your #{strong('my account')} page.
%p the #{strong('my account')} page can be reached via the #{strong('my account')} link at the top right of the site.