%p Choose Each(small, medium or large) for single items i.e. an Onion.
%p Or other measures where appropriate. Please try and keep measures consistent by not mixing imperial and metric units for example.