%p Type the Ingredient or Recipe Name. If typing an Ingredient, available ingredients will be shown as a popup. Typing an ingredient that does not exist in our database will add it automatically.
%p Please do not describe the ingredient. i.e. Large Onion... instead choose the size from the Measure column