%p A recipe Step describes a single process whilst preparing your recipe that can best be described in one picture.
%p Add as many steps as required by clicking the #{strong('Add Another Step')} link.
%p The total recipe time is calculated by adding up the time required for all steps.